form{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

label{
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}
input{
    border-radius: 5px;
    outline: 0;
    width: 75%;
    padding: 5px;
}

button{
    background-image: linear-gradient(to right, #dc3545, #6e111a);
    width: 80%;
    border-radius: 30px;
    padding: 3px;
    color: white;
    border: 0px;
    outline: 0;

}
button:hover{
    background-image: linear-gradient(to right, #dc3545, #4e0c13);
}

h1{
    text-align: center;
}