/* Estilos da página index.html */
.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 15px;
    
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: gray;
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 50%;
}

.wh{
    width: 250px;
    height: 230px;
}

.tm-social{
    width: 30px;
    height: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.teste{
    margin-top: -1px;
}

/* Estilos da página contato.html */

.ml-50{
    margin-left: 50px;
}

/* Estilos da página contato.html teste*/
.fm{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.wcd{
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}

.brwp{
    border-radius: 5px;
    width: 75%;
    padding: 5px;
    outline: 0;
}

.btn{
    background-image: linear-gradient(to right, #dc3545, #6e111a);
    width: 80%;
    border-radius: 30px;
    padding: 3px;
    color: white;
    border: 0px;
    outline: 0;
}

.btn:hover{
    background-image: linear-gradient(to right, #dc3545, #4e0c13);
}